---
import Header from "../components/header.astro";
import Projects from "../components/Projects.astro";
import User from '../components/User.astro'
import BrifeCase from "../icons/BrifeCase.astro";
---

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NolberthB</title>
</head>
<body class="flex flex-col items-center mb-0">
	<section id="main-container">
		<Header />
		<User />
		<h2 class="text-lg font-bold mb-0 flex gap-x-2 items-center">
			<BrifeCase class="size-5" />
			Proyectos
		</h2>
		<Projects />
	</section>



</body>
</html>

<style>
	* {
  		margin: 0;
  		padding: 0;
  		box-sizing: border-box;
		overflow: hidden;
		background-color: #000;
	}	
	body {
  		font-family: Arial, sans-serif;
  		color: #fff;
  		display: flex;
  		justify-content: center;
  		min-height: 100vh;
	}

	#main-container {
		align-items: baseline;
		max-width: 500px;
  		width: 100%;
  		padding-inline: 20px;
		height: fit-content;
	}
  </style>