---
const aboutTitle = "About me";
const aboutDescription = `
  "Soy un Ingeniero de Software apasionado enfocado en crear soluciones eficientes y escalables. Disfruto abordando problemas complejos y aprendiendo nuevas tecnologías."
`;
---

<section class="
  bg-black 
  text-white 
  rounded-lg 
  shadow-lg
  sm:max-w-lg 
  lg:max-w-3xl">

  <!-- <h2 class="text-sm font-bold mb-0">{aboutTitle}</h2> -->
  <p class="text-sm text-gray-400 leading-relaxed">
    {aboutDescription}
  </p>

</section>


