---
const aboutTitle = "About me";
const aboutDescription = `
  "I'm a passionate Software Engineer focused on creating efficient and scalable solutions. I enjoy tackling complex problems and learning new technologies."
`;
---

<section class="
  bg-black 
  text-white 
  rounded-lg 
  shadow-lg
  sm:max-w-lg 
  lg:max-w-3xl">

  <!-- <h2 class="text-sm font-bold mb-0">{aboutTitle}</h2> -->
  <p class="text-sm text-gray-400 leading-relaxed">
    {aboutDescription}
  </p>

</section>


